* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #F6FAFD;
}
#container {
	max-height: 1200px;
	margin: auto;
	width: 1200px;
}
.first-menu {
	display: flex;
	align-items: center;
}
.second-menu {
    padding-right: 336px;
}
	.icon {
	display: none;
}
.first-menu ul li {
	list-style-type: none;
	display: inline;
	padding: 36px;
}

.first-menu ul li a {
	text-decoration: none;
	font-family: Avenir;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	line-height: 160%;
	color: #4B5D68;
}
.first-menu ul li.active a {
	color: #212353;
	font-weight: 800;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 62px;
}
.demo {
	display: flex;
	border: 1px solid #FFFFFF;
    padding: 20px;
    border-radius: 39px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}
@media only screen and (max-width: 768px) {
  .nav-header .icon {
  	visibility: visible;
  	display: block;
  	position: relative;
	left: -50%;
  }
  #topnav {
  	overflow: hidden;
  	position: relative;
  }
  .nav-header #topnav {
  	display: none;
  }
   .first-menu ul li a {
  	color: #333;
  	display: block;
  	text-transform: uppercase;
  }
 .first-menu ul li a.icon {
 	background-color: gray;
 	display: block;
 	position: absolute;
 	right: 0;
 	top: 0;
 }
 .first-menu ul li {
    list-style-type: none;
    padding: 0;
	}
	.demo {
		width: 50%;
	}
}
@media only screen and (max-width: 480px) {
	.nav-header .icon {
  	visibility: visible;
  	display: block;
	position: absolute;
	left: 88%;
  }
  #topnav {
  	overflow: hidden;
  	position: relative;
  	left: -54%;
	top: 2%;
  }
  .second-menu  a:hover {
  	background-color: dimgray;
  }
 	.demo {
  	width: 37%;
  }
}
button {
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    font-weight: 800;
    font-family: Avenir;
    font-style: normal;
    font-size: 16px;
    line-height: 25.6px;
    color: #212353;
    padding-right: 20px;
}
.demo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*section data*/
.save-data {
    position: relative;
    display: flex;
    padding-top: 161px;
}
.text-data {
    width: 60%;
}
@media only screen and (max-width: 480px) {
	.save-data {
		padding-top: 20px;
	}
	.text-data .title {
		font-size: 30px;
	}
	.text-data p {
		padding-top: 10px;
		text-align: justify;
		width: 57%;
	}
	button.btn-data {
		width: 57%;
	}
}
.first-text {
    width: 41%;
    padding-top: 80px;
    padding-bottom: 60px;
}
.image-data {
    background-image: url(../image/data.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 80%;
	height: 500px;
	position: absolute;
	right: -72px;
	top: 40%;
}
.text-data h1 {
	font-family: Helvetica;
	font-weight: 700;
	font-style: normal;
	font-size: 80px;
	line-height: 88px;
	color: #212353;
}
.text-data p {
	font-family: Avenir;
	font-weight: 500;
	font-style: normal;
	color: #4B5D68;
	font-size: 18px;
	line-height: 160%;
}
.text-data .btn-data {
	font-family: Avenir;
	text-align: center;
	line-height: 28.8px;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	color: #ffffff;
}
.btn-data {
	background-color: #9C69E2;
	border-radius: 50px;
	padding: 18px;
	width: 25%;
}
/*end section data*/
