* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #F6FAF;
}
p {
	font-family: Avenir;
}
#container {
	max-height: 1200px;
	margin: auto;
	width: 1200px;
}
.first-menu {
	display: flex;
	align-items: center;
}
.second-menu {
    padding-right: 336px;
}
	.icon {
	display: none;
}
.first-menu ul li {
	list-style-type: none;
	display: inline;
	padding: 36px;
}

.first-menu ul li a {
	text-decoration: none;
	font-family: Avenir;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	line-height: 160%;
	color: #4B5D68;
}
.first-menu ul li.active a {
	color: #212353;
	font-weight: 800;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 62px;
}
.demo {
	display: flex;
	border: 1px solid #FFFFFF;
    padding: 20px;
    border-radius: 39px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}
@media only screen and (max-width: 768px) {
  .nav-header .icon {
  	visibility: visible;
  	display: block;
  	position: relative;
	left: -37%;
  }
  #topnav {
  	overflow: hidden;
  	position: relative;
  }
  .nav-header #topnav {
  	display: none;
  }
   .first-menu ul li a {
  	color: #333;
  	display: block;
  	text-transform: uppercase;
  }
 .first-menu ul li a.icon {
 	background-color: gray;
 	display: block;
 	position: absolute;
 	right: 0;
 	top: 0;
 }
 .first-menu ul li {
    list-style-type: none;
    padding: 0;
	}
	.demo {
		width: 50%;
	}
}
@media only screen and (max-width: 480px) {
	.nav-header .icon {
  	visibility: visible;
  	display: block;
	position: absolute;
	left: 88%;
  }
  #topnav {
  	overflow: hidden;
  	position: relative;
  	left: -54%;
	top: 2%;
  }
  .second-menu  a:hover {
  	background-color: dimgray;
  }
 	.demo {
  	width: 37%;
  }
}
button {
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    font-weight: 800;
    font-family: Avenir;
    font-style: normal;
    font-size: 16px;
    line-height: 25.6px;
    color: #212353;
    padding-right: 20px;
}
.demo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*section data*/
.save-data {
    position: relative;
    display: flex;
    padding-top: 161px;
    padding-bottom: 141px;
}
.text-data {
    width: 60%;
}
@media only screen and (max-width: 480px) {
	.save-data {
		padding-top: 20px;
	}
	.text-data .title {
		font-size: 30px;
	}
	.text-data p {
		padding-top: 10px;
		text-align: justify;
		width: 57%;
	}
	.text-data .btn-data {
		width: 57%;
	}
	.save-data .text-data .image-data {
		background-size: contain;
		width: 33%;
		top: 24%;
		background-image: url(../image/data.png);
		background-repeat: no-repeat;
	}
}
/**/
.first-text {
    width: 41%;
    padding-top: 80px;
    padding-bottom: 60px;
}
.image-data {
    background-image: url(../image/data.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 80%;
	height: 500px;
	position: absolute;
	right: -72px;
	top: 36%;
}
 h1.title {
	font-family: Helvetica;
	font-weight: 700;
	font-style: normal;
	font-size: 80px;
	line-height: 88px;
	color: #212353;
}
p.first-text {
	font-weight: 500;
	font-style: normal;
	color: #4B5D68;
	font-size: 18px;
	line-height: 160%;
}
.text-data .btn-data {
	font-family: Avenir;
	text-align: center;
	line-height: 28.8px;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	color: #ffffff;
}
.btn-data {
	background-color: #9C69E2;
	border-radius: 50px;
	padding: 18px;
	width: 25%;
}
/*end section data*/

/*section high-level*/
.row {
	display: flex;
	background: rgba(240, 99, 184, 0.15);
	border-radius: 50px;
}
.high-level {
    padding-top: 141px;
}
.high-text {
	padding-left: 94px;
	padding-right: 94px;
}
.high-image {
	padding-top: 32px;
}
h1.titles{
	font-family: Helvetica;
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
	line-height: 52px;
	color: #212353;
	padding-top: 125px;
}
p.titles-second {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28.8px;
	color: #4B5D68;
	padding-top: 40px;
	padding-right: 119px;
}
/*media high-level*/
@media only screen and (max-width: 480px) {
	.high-level .row {
		width: 35%;
		display: block;
		text-align: justify;
	}
	.high-text {
		padding-left: 0;
		padding-right: 0;
		padding-top: 100px;
	}
	.high-image img {
		width: 100%;
		box-sizing: border-box;
		margin-left: -20px;
		margin-bottom: -100px;
	}
	.high-text p.titles-second {
		padding-right: 13px;
		padding-left: 0px;
	}
}
/*media features*/
@media only screen and (max-width: 480px){
	.features {
		width: 65%;
	}
	.fea.text {
		width: 65%;
	}
	.features h1.titles {
		padding-right: 53px;
	}
	.features p.text-second {
		margin-left: 5px;
	}
}	
@media only screen and (max-width: 768px) {
	.text {
		width: 55%;
	}
	h1.titles {
		text-align: center;
		padding-top: 0;
	}
	.features .text-second {
		width: 80%;
		padding-top: 10px;
		padding-right: 90px;
	}
	.fea-box {
		width: 60%;
	}
	.features {
		padding-top: 40px;
	}
	/*day la tab anh cua features*/
	.row {
		display: flex;
		flex-wrap: wrap;
		width: 52%;
	}
	.image-box  {
		display: flex;
		justify-content: center;
	}
	p.titles-second {
		padding-right: 0px;
		padding-bottom: 40px;
	}
}
/*het media features*/
.fea.text {
    text-align: center;
}
p.text-second {
	font-family: Avenir;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28.8px;
	color: #4B5D68;
	padding-top: 50px;
	padding-bottom: 70px;
	width: 44%;
	margin: auto;
}

/*features box*/
.fea-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.col-box {
	display: flex;
	position: relative;
	padding-bottom: 40px;
}
	img.vector {
    position: absolute;
    left: 12rem;
    bottom:163px;
		}
	img.vector2 {
		position: absolute;
		right: 0;
		bottom:25px;
		transform: rotate(189deg);
	}
	img.vector4 {
	position: absolute;
    left: 0;
    top: -16%;
    transform: rotate(118deg);
    width: 86%;
}
	}
	img.eclip {
    position: absolute;
	top: 8%;
	left: 61%;
	}
	img.eclip3 {
	position: absolute;
	top: 4%;
    left: 74%;
	}
	img.search {
    position: absolute;
    left: -5rem;
    top: 20%;
	}
	.col-text {
    position: absolute;
	width: 72%;
    left: 40%;
    top: 10%;
}
.col-link{
	color: #212353;
	font-family: Avenir;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 160%;
	display: flex;
	align-items: center;
	letter-spacing: 0.005rem;
	text-decoration: none;
}
.demo-learn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
}
.demo-learn4 {
	    display: flex;
    justify-content: flex-start;
    align-items: center;
	padding-top: 12px;
}

.btn-learn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 17px;
}

h1.col-title {
    font-family: Helvatica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
}
p.col-second {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: #4B5D68;
    padding-top: 45px;
    padding-right: 109Px;
}
/*media 480 col-box*/
@media only screen and (max-width: 480px) {
.fea-box {
	width: 33.33%;
	}
	.search {
		width: 36.33%;
		padding-left: 92px;
		padding-top: 40px;
	}
	.demo-learn {
		padding-top: 20px;
	}
	// button learn more 480px
}
/*media 768 col-box*/
@media only screen and (max-width: 768px){
	.text-data .image-data {
	background-image: url(../image/data.png);
	background-repeat: no-repeat;
	width: 49%;
	background-size: contain;
	left: 2px;
	top: 57%;
	}
	.high-level {
		padding-top: 200px;
	}
	.first-text {
		padding-top: 20px;
	    width: 86%;
	    text-align: justify;
		}
	button.btn-data {
		width: 86.66%;
		padding: 22px;
		}
}