* {
	margin: 0;
	padding: 0;
}
body {
	background-color:#FFFFFF;
}
p {
	font-family: Avenir;
}
#container {
	margin: auto;
	max-width: 1200px;
}
.first-menu {
	display: flex;
	align-items: center;
}
.second-menu {
    padding-right: 336px;
}
	.icon {
	display: none;
}
.first-menu ul li {
	list-style-type: none;
	display: inline;
	padding: 36px;
}

.first-menu ul li a {
	text-decoration: none;
	font-family: Avenir;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	line-height: 160%;
	color: #4B5D68;
}
.first-menu ul li.active a {
	color: #212353;
	font-weight: 800;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 62px;
}
.demo {
	display: flex;
	border: 1px solid #FFFFFF;
    padding: 20px;
    border-radius: 39px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}
.closebtn {
	display: none;
}

@media screen and (max-width: 1320px)  {
	.nav-header .icon {
  	visibility: visible;
  	display: block;
	position: absolute;
	right: 0;
	padding-right: 30px;
  }
 .nav-logo { 
 	padding-left: 30px;
  }
  .nav-header .icon:hover {
  	visibility: visible;
  	transition: 0.8s;
  	transform: rotate(-45deg);
  }
 	.demo {
  	width: 30%;
  	margin: 40px 0 0 0;
  }
  .first-menu {
	position: fixed;
	z-index: 1;
 	background-color: rgba(0,0,0, 0.9);
	top: 0;
	display: none;
	width: 100%;
	padding-bottom: 40px;
  }
  .first-menu .second-menu  li a:hover{
  	color: red;
  	transition: 0.1s;
  }
  .first-menu ul li a {
  	color: white;
  }
  .first-menu ul li.active  a{
  	color: white;
  }
  .closebtn {
	font-size: 29px;
	position: fixed;
	top: 1%;
	right: 5%;
	color: white;
	display: block;
	z-index: 1;
	text-decoration: none;
  }
  .closebtn:hover , .closebtn:focus {
  	opacity: 30%;
  	transition: 0.8s;
  }
}
button {
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    font-weight: 800;
    font-family: Avenir;
    font-style: normal;
    font-size: 16px;
    line-height: 25.6px;
    color: #212353;
    padding-right: 20px;
}
.demo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*section data*/
.save-data {
    position: relative;
    display: flex;
    padding-top: 161px;
    padding-bottom: 141px;
}
/*responsive ui/ux moible max-width 768px*/
/*to section */
@media screen and (max-width: 768px) {
	div.footer-box {
	    padding-top: 40px;
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: column;
	    text-align: center;
	}
	div.logo-info {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.chatbox p.text-web {
		text-align: center;
		margin: auto;
	}
	/*high level*/
	div.fea-box {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
/*responsive moblie max-width: */


/*desktop template figma 1320px design*/
.first-text {
    width: 41%;
    padding: 80px 0 60px 0;
}
.text-data {
    width: 74%;
}
.image-data {
    background-image: url(../image/data.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	position: absolute;
	right: 0%;
	left: 0;
	padding-top: 51.25%;
}
 h1.title {
	font-family: Helvetica;
	font-weight: 700;
	font-style: normal;
	font-size: 80px;
	line-height: 88px;
	color: #212353;
}
p.first-text {
	font-weight: 500;
	font-style: normal;
	color: #4B5D68;
	font-size: 18px;
	line-height: 160%;
}
.text-data .btn-data {
	font-family: Avenir;
	text-align: center;
	line-height: 28.8px;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	color: #ffffff;
}
.btn-data {
	background-color: #9C69E2;
	border-radius: 50px;
	padding: 10px 20px 10px 20px;
}
/*responsive mobile section data max-width:  768px*/
@media screen and (max-width: 540px) {
	.text-data .title {
		font-size: 30px;
	}
	 div br {
		display: block;
	}
	div.high-level {
		margin-top: 0px;
	}
	p.first-text {
		max-width:80%;
		width: auto;
		padding: 20px;
	}
}
@media screen and (max-width: 992px) {
	.high-level {
		margin-top: 200px;
	}
	section .fea-box {
		padding-bottom: 0; 
		display: flex;
		justify-content: center;
		align-items: center;
	}
	 section div.col-box:nth-child(1), div.col-box:nth-child(3) {
		margin-left: 0;
	}

	div.carosoul {
		padding: 20px 0 0 0;
	}
	div.carosoul-box {
		width: 100%;
	}
	div.carosoul-box.two,div.carosoul-box.three {
		width: 75%;
	}
	div.first-menu ul li a{
 		display: block;
 		padding: 10px;
 	}
 	div.image-data {
 		background-size: contain;
 		margin-top: 30px;
 	}
}

@media screen and (max-width: 1320px) {
.save-data {
		padding: 20px;
		display: block;
	}
	br {
		display: none;
	}
	.footer-box br {
		display: block;
	}
	.text-web br {
		display: block;
	}
	.text-data {
		max-width: 100%;
		text-align: center;
		width: auto;
	}
	div h1.title {
		font-size: 40px;
		line-height: 50px;
	}
	button.btn-data {
		cursor: pointer;
		position: relative;
	}
	.image-data {
	    position: inherit;
	}
	.save-data .text-data .image-data {
		width: 100%;
		top: 76%;
		background-size: contain;
		left: 0;
	}
	p.first-text {
		max-width: 100%;
		padding: 20px 0 20px 0;
		margin: auto;
		line-height: 30px;
	}
	div .high-level {
		margin-top: 0;
		padding-top: 0;
	}
	div .high-text {
		padding: 40px 20px 0 20px;
	}
	div h1.titles {
		font-size:27px;
		padding: 20px;
		line-height: 40px;
	}
		/*high level*/
	.fea p.text-second {
		width: 89%;
		padding: 0;
	}
	div p.titles-second {
		padding: 0 0px 30px 0px;
		margin: auto;
		max-width: 100%;
	}
	div img.search {
		width: 38%;
    	right: 62%;
	}
	div .fea-box {
		justify-content: space-around;
		align-items: center;
	}
	div .col-box:nth-child(1), div .col-box:nth-child(3) {
		margin-left: 25px;
	}
	div.carosoul {
		flex-basis: 54%;
		padding: 20px 0 0 0;
	}
	div.carosoul:nth-of-type(3),div.carosoul:nth-of-type(2) {
		right: 15%;
	}
}
/*end section data*/
/*responsive mobile section high-level max-width:  768px*/
@media screen and (max-width: 768px) {
	.high-level {
		margin-top: 60px;
	}
	div.row {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
	}
	div.high-text {
		padding: 0 0 30px 0;
		text-align: center;
	}
	.high-text {
		padding: 0;
	}
	.high-image img {
		width: 100%;
		box-sizing: border-box;
		padding: 20px 0 20px 0;
	}
}
/*end responsive*/
.row {
	display: flex;
	background: rgba(240, 99, 184, 0.15);
	border-radius: 50px;
}
.image-box {
    padding: 48px 15px 30px 38px;
}
.high-level {
    padding-top: 71px;
}
.high-text {
	padding: 125px 94px 0 94px;
}
.high-image {
	padding-top: 32px;
}
h1.titles{
	font-family: Helvetica;
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
	line-height: 52px;
	color: #212353;
}
p.titles-second {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28.8px;
	color: #4B5D68;
	padding-top: 40px;
	width: 74%;
}
/*media features*/
/*reponsive mobile section features*/
@media screen and (max-width: 768px){
	#topnav ul li {
	padding: 10px;
	display: block;
	}	
	div.col-box:nth-child(1), div.col-box:nth-child(3) {
		margin-left: 0;
	}
	div.fea-box {
		padding-bottom: 0;
	}
	.image-box  {
		display: flex;
		justify-content: center;
	}
}
/*end*/
.fea {
    text-align: center;
    padding-top: 40px;
}
p.text-second {
	font-family: Avenir;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28.8px;
	color: #4B5D68;
	padding-top: 50px;
	width: 44%;
	margin: auto;
}

/*features box*/
.fea-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 55px 0 110px 0;
}
.col-box:nth-child(1), .col-box:nth-child(3) {
    margin-left: 140px;
}
.col-box {
	display: flex;
	position: relative;
	margin-bottom: 40px;
}
	img.vector {
    position: absolute;
	left: 47%;
	bottom: 46%;
		}
	img.vector2 {
	position: absolute;
	right: 0;
	bottom:25px;
	transform: rotate(189deg);
	}
	img.vector4 {
	position: absolute;
    left: 0;
    top: -16%;
    transform: rotate(118deg);
    width: 86%;
	}
	img.eclip {
    position: absolute;
	top: 13%;
	left: 70%;
	}
	img.eclip3 {
	position: absolute;
	top: 4%;
    left: 74%;
	}
	img.search {
    position: absolute;
    right: 71%;
    top: 20%;
    width: 62%;
	}
	.col-text {
    position: absolute;
	padding: 61px 0 0 177px;
    width: 47%;
	}
	.col-text:nth-child(1),.col-text:nth-child(3) {
	 color: red;
	 background-color: blue;
	}
.col-link{
	color: #212353;
	font-family: Avenir;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 0.005rem;
	text-decoration: none;
}
.demo-learn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 62px;
}
.demo-learn4 {
	display: flex;
    justify-content: flex-start;
    align-items: center;
	padding-top: 35px;
}

.demo-learn3 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 87px;
}
.btn-learn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0 0 17px;
}

h1.col-title {
    font-family: Helvatica;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}
p.col-second {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: #4B5D68;
    padding-top: 23px;
}

/*---------------feature box continued--------------------*/
@media screen and (max-width:  768px) {
	.tes.text {
		font-size: 30px;
		padding: 26px 0 0 26px;
	}
	.col.col-image .vector {
		width: 47%;
		bottom: 51%;
	}
	.col.col-image .vector2 {
		width: 47%;
		left: 46%;
		top: 0%;
	}
	.col.col-image .vector4 {
		width:62%;
		left: 12%;
		top: 0;
	}
	.col.col-image .rec {
		width: 100%;
	}
	div.col-text {
		padding: 10px 0 0 181px;
	}
	.demo-learn {
		padding-top: 20px;
	}
}
/*-----------------------------------------------*/
/*responsive mobile testomials*/
.tes {
    background: #9C69E2;
    border-radius: 50px;
    overflow: hidden;
}
.carosoul {
    border: 20px;
    padding: 88px 0 0 93px;
    flex-shrink: 0;
    flex-basis: 48%;
}
.carosoul:nth-of-type(2) {
    padding-left: 20px;
}
.carosoul:nth-of-type(3) {
    padding-left: 0px;
    position: relative;
    right: 13%;
}
.flex-container {
	display: flex;
}
p.subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 32.4px;
    color: #4B5D68;
    padding-top: 20px;
}
/*screen responsive moible*/
.carosoul-box {
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    position: relative;
    font-family: Avenir;
    box-shadow: 0px 20px 0px rgba(88, 105, 226, 0.3);
}
.carosoul-box.one {
	padding: 45px 57px 45px 52px;
}
.carosoul-box.two {
    border-radius: 20px;
    color: #4B5D68;
    padding: 45px 57px 45px 52px;
    width: 50%;
}
.carosoul-box.three {
    border-radius: 20px;
    color: #4B5D68;
    padding:45px 57px 45px 52px;
    width: 50%;
}
.carosoul .two:nth-of-type(1), .three:nth-of-type(1) {
	border: 1px solid #9C69E2;
}
.box-text {
	padding: 20px 0 0 30px;
}
.box-text a {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 22.5px;
	letter-spacing: 1%;
	color: #9C69E2;
}
h2 {
	font-weight: 900;
	font-style: normal;
	font-size: 18px;
	line-height: 28.8px;
}
/*text tesmonials*/
.text {
	font-family: Helvetica;
	font-weight: 700;
	font-size: 40px;
	color: #ffffff;
	line-height: 52px;
	padding: 109px 0 0 93px;
}
.dotter{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 50px 59px 62px 90px;
}
.dotter-four span {
		font-size: 50px;							
		color: #ffffff;
		text-decoration: none;		
		font-family: Avenir;
		cursor: pointer;
}
.dotter-four span:hover , span.active {
		color: #F063B8;
}
.play {
		padding-top: 36px;
}
.next {
		background-image: url(../image/prev.png);
		background-repeat: no-repeat;
	    background-color: #9C69E2;
	    padding: 16px 20px 0 26px;;
}
.next:nth-child(1) {
		transform: rotate(-180deg);
		margin-right: 9px;
}
.next:nth-child(1):hover {
		background-image: url(../image/hover.png);
		background-repeat: no-repeat;
		transform: rotate(0deg);
}
/*footer*/
/*responsive mobile max-width : 768*/
@media screen and (max-width:  768px) {
	div.try-free {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		width: 80%;
		text-align: center;
		margin: auto;
	}
	div.footer-box {
		padding-top:40px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.info .text-address {
		padding-top: 20px;
	}
	.text-address br {
		display: block;
	}
	div.logo-footer {
		text-align: center;
	}
	div.logo-info {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.sub-menu .active {
		padding: 0;
	}
	div.sub-menu {
		margin: 20px auto;
	}
	.socials {
	    text-align: center;
	}
	.chatbox p {
	    text-align: center;
	    margin: auto;
	}
	#mychat {
		position: fixed;
		bottom: 2%;
		right: 84%;
	}
}
div .space {
	border-top: 2px solid #9C69E2;
	opacity: 0.2;
	padding: 150px 0 0 150px;
	display: none;
}
.try-free {
	display: flex;
	justify-content: space-between;
}
.text-free h1 , .text-free p {
	padding: 0;
}
.text-free p {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28.8px;
	color: #4B5D68;
	padding-top: 10px;
}
.btn-free {
	display: flex;
}
button.btn-data-free {
	color: #ffffff;
	background-color: #F063B8;
	font-family: Avenir;
	border-radius: 50px;
	font-weight: 900;
	font-size: 18px;
	padding: 19px 37px 19px 37px;
	margin: 35px 15px 18px 0px;
}
.demo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 22px 0px 20px 0;
    border-radius: 50px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}
button.request {
    padding: 16px 22px 15px 18px;
    border-radius: 50px;
}
.demo-button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 9px 26px 6px 0px;
}
.footer {
    margin-top: 100px;
}
.footer-box {
    display: flex;
    font-family: Avenir;
    justify-content: space-between;
    padding-top: 150px;
}
.footer-box a {
	text-decoration: none;
}

.sub-menu {
    display: flex;
    flex-direction: column;
}
.logo-info {
    display: flex;
    align-items: center;
}
.logo-text {
	padding-left: 20px;
	font-weight: 900;
	font-size: 20px;
	line-height: 32px;
}
.text-address {
	font-weight: 600;
	font-size: 16px;
	line-height:28.8px;
	letter-spacing: 1%;
	color: #212353;
	font-style: normal;
	padding-top: 70px;
}
.info .text-address:nth-child(2) {
	padding-top: 20px;
	font-weight: 400;
}
.sub-menu a {
	color: #212353;
	font-family: Avenir;
	font-size: 16px;
	line-height: 40px;
}
.active {
	color: #212353;
	font-family: Avenir;
	line-height: 25.6px;
	font-weight: 900;
	padding: 0 0 50px 0;
}
.socials a {
	padding-left: 5px;
}
.link {
	padding-top: 40px;
}
.link a {
	padding: 4px;
}
.chatbox {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.text-web {
	font-weight: 400;
	font-size: 12px;
	line-height:21.6px;
	letter-spacing: 1%;
	color: #212353;
	font-style: normal;
	padding-top: 70px;
}
.chat {
    background: #e8e2e2;
    position: fixed;
    right: 6%;
    bottom: 5%;
    padding: 17px 16px 13px 17px;
    border-radius: 50px;
    cursor: pointer;
}
.chat img:hover , .chat:hover {
	transition: 1s;
	background-color: seagreen;
}